.main {
  background-color: white;
  /* height: 66vh; */
  color: black;
  width: 50vw;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  font-size: 24px;
  padding: 8px;
  width: 100%;
}

.submit_button {
  background-color: cornflowerblue; /* Green */
  /* border: none; */
  border-color: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.submit_button:hover {
  background-color: dodgerblue;
  border-color: blue;
  cursor: pointer;
}

.footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

}

.wallet_card {
  background-color: white;
  width: 100vh;
  padding: 16px;
  color: black;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 30px;
}

.wallet_card__id {

}

@media screen and (max-width: 768px) {
  .main {
    width: fit-content;
  }
}

